/* body{
	margin:0px;
	padding:0px;
}
.topbar {
	background-color: #1B9AAA;
    height: 60px;
    margin: 0px;
   	padding: 0px;
}

.nav{
	float: left;
	color: #FFFFFF;    
	border-radius: 10px;
	list-style-type: none;
	font-size: 26px;
	margin: 10px;
    font-family: Microsoft JhengHei;
}
.nav:hover{
	background-color: #DDDBCB;
	color:#000000;
}
.nav2{
    float: right;
    color: #F5F1E3;        
    border-radius: 10px;
    list-style-type: none;
    font-size: 26px;
   	margin: 10px;
    font-family: Microsoft JhengHei;
}
.nav2:hover{
	background-color: #DDDBCB;
	color:#1B9AAA
}
.userName{
	font-size:12px;
	margin: 0 auto;
}	
a:link {
	color:#FFFFFF;
	text-decoration:none;
}
a:visited {
	color:#FFFFFF;
	text-decoration:none;
}
a:hover {
	color:#000000;
	text-decoration:none;
} */
.navbar-dark .navbar-nav .nav-link {
    color: rgb(255, 255, 255);
}

.navbar-dark .nav-item.active .nav-link,
.bg-green .nav-item:hover .nav-link {
    color: #ffffff;
}